@media print {
        .datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #969696; }.datagrid table td, .datagrid table th { padding: 5px 9px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFFFFF), color-stop(1, #D6D6D6) );background:-moz-linear-gradient( center top, #FFFFFF 5%, #D6D6D6 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#D6D6D6');background-color:#FFFFFF; color:#000000; font-size: 15px; font-weight: normal; border-left: 1px solid #969696; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #000000; border-left: 1px solid #969696;font-size: 12px;border-bottom: 1px solid #9BA4A8;font-weight: normal; }.datagrid table tbody .alt td { background: #F7F7F7; color: #000000; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; } 
        #rotate {
        	position: fixed;
        	/*background-color: yellow;*/
        	transform : rotate(0.5turn);  
        	-webkit-transform:rotate(7deg);
        }

}

/*body{
			background-color:yellow;
			transform: rotate(0.5turn);
			-ms-transform:rotate(7deg); 
			-webkit-transform:rotate(20deg);
		}*/