html, body, h1, h2, h3, h4, h5, pre {
	font-family: 'Open Sans', sans-serif;
}


/*-- class2 dan id2baru --*/
#kapiheader {
	border-top: 1px solid #fff;
	background-color: #fff;
	border-bottom: 2px solid #fff;
}
#kapiheader h1 {
	margin-top: 0;
	padding-top: 0;
}
#kapilogo small {
	display: none;
}
#kapinav {
	border-top: 1px solid #006680;
/*	padding-top: 16px; */
}
#kapifooter {
	/*border-top: 5px solid rgb(204, 255, 0);*/
	background-color: #fff;
	margin-top: 8px;
	padding-top: 16px;
	padding-bottom: 8px;
	margin-bottom: 0;
	min-height: 90px;
	font-size: 12px;
}
.kapifootercol {
	padding-top: 12px;
	padding-bottom: 12px;
}
/*-- class2 baru sampe sini --*/

/*-- override --*/
.navbar-default {
  background-color: #eeeeee;
  border-color: #c5c5c5;
}
.navbar-default .navbar-brand {
  color: #acacac;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #777777;
}
.navbar-default .navbar-text {
  color: #acacac;
}
.navbar-default .navbar-nav > li > a {
  color: #acacac;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #777777;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #777777;
  background-color: #c5c5c5;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #777777;
  background-color: #c5c5c5;
}
.navbar-default .navbar-toggle {
  border-color: #c5c5c5;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #c5c5c5;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #acacac;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #acacac;
}
.navbar-default .navbar-link {
  color: #acacac;
}
.navbar-default .navbar-link:hover {
  color: #777777;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #acacac;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #777777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #777777;
    background-color: #c5c5c5;
  }
}
/*-- override sampe sini --*/


/*submenu*/
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

/*-- table --*/
th {
	text-align: center;
	font-size: 90%;
	vertical-align: top;
}
.ratakanan {
	text-align: right;
}
.ratatengah {
	text-align: center;
}
.fontkecil td {
	font-size: 75%;
}
.fontkecilxx td {
	font-size: 60%;
}

/*-- mkform --*/
.mkform-date input {
	cursor: pointer !important;
}
/*-- mkform sampe sini --*/

.table tbody>tr>td{
	padding: 3px;
}

.dataTables_paginate {

	text-align: center!important;
	margin:0px auto!important;
	float:none!important;
	left:50%;
	width:15%;

}

.form-group {
	margin-bottom: 5px;
}

.x {
	padding-top: 8px;
}

.table a{
	text-decoration: underline;
}

.btn {
	text-decoration: none!important;
}

.btn-small {
	text-decoration: none!important;
}

.container-monitoring {
	width: 100%;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.table-monitoring  {
	background-color: #FFF;

}


table.table-monitoring th {
	padding: 5px !important;
	font-size: 1.5em;
}

table.table-monitoring td {
	padding: 10px !important;
	font-size: 1.2em;
	border-bottom: 1px solid black !important;
}
